<footer class="l-footer">
  <div class="l-footer__wrap">
    <div class="l-footer__title">
      <p class="l-footer__inner">運営会社</p>
      <a href="#" class="l-footer__company">Sustainable DESIGN office co.,ltd.</a>
      <div class="l-footer__titleWrap">
        <a href="#" class="l-footer__company">maru-chon DESIGN office</a>
        <a href="#" class="l-footer__company">ここのつ[coconotsu] 呼吸するインテリアブランド</a>
        <a href="#" class="l-footer__company">日光松原の宿 而今</a>
      </div>
    </div>
    <small class="l-footer__copyright">©nikko jicon</small>
  </div>

</footer>



</div><!-- l-wrap -->
</body>
</html>
