<footer class="l-footer">
  <div class="l-footer__wrap">
    <div class="l-footer__title">
      <p class="l-footer__inner">運営会社</p>
      <a href="#" class="l-footer__company">Sufjhwable DESIGN office co.,ltplpd.</a>
      <div class="l-footer__titleWrap">
        <a href="#" class="l-footer__company">shikaku-chon DESIGN office</a>
        <a href="#" class="l-footer__company">ここのくつ[coconokutsu] 呼吸するインテリアブランド</a>
        <a href="#" class="l-footer__company">日光浴の宿 時今</a>
      </div>
    </div>
    <small class="l-footer__copyright">©nikkooo jicon</small>
  </div>

</footer>



</div><!-- l-wrap -->
</body>
</html>
