<header class="l-header">
<div class="l-header__wrap">
  <div class="l-header__top">
    <a href="#" class="l-header__logo">
        <img src="./assets/images/logo_20.svg" alt="企業ロゴ">
    </a>
    <a href="#" class="l-header__reservation">
      <p class="l-header__text">RESERVATION</p>
    </a>
    <div class="l-header__humburger js-humburger">
        <span></span>
        <span></span>
    </div>
    <div class="l-header__menu">
      <div class="l-header__container">
        <a href="#" class="l-header__menuLogo">
          <img src="./assets/images/logo_30.svg" alt="企業ロゴ">
        </a>
        <div class="l-header__contents">
          <ul class="l-header__list">
            <li class="l-header__item">
              <a href="#" class="l-header__inner">
                <p class="l-header__title">ABOUT</p>
                <p class="l-header__subTitle">時今とは</p>
              </a>
            </li>
            <li class="l-header__item">
              <a href="#" class="l-header__inner">
                <p class="l-header__title">STAY&ROOM</p>
                <p class="l-header__subTitle">ご宿泊・お部屋のご案内</p>
              </a>
            </li>
            <li class="l-header__item">
              <a href="#" class="l-header__inner">
                <p class="l-header__title">RESTAURANT info.</p>
                <p class="l-header__subTitle">おすすめのお食事処</p>
              </a>
            </li>
            <li class="l-header__item">
              <a href="#" class="l-header__inner">
                <p class="l-header__title">INFORMATION</p>
                <p class="l-header__subTitle">お知らせ</p>
              </a>
            </li>
            <li class="l-header__item">
              <a href="#" class="l-header__inner">
                <p class="l-header__title">ACCESS</p>
                <p class="l-header__subTitle">交通/周辺案内</p>
              </a>
            </li>
          </ul>
          <a href="#" class="l-header__menuReservation">
            <div class="l-header__menuInner">
              <p class="l-header__menuText">RESERVATION</p>
              <pn class="l-header__menuWord">(宿泊のご予約)</pn>
            </div>
          </a>
          <div class="l-header__sns">
            <a href="#" class="l-header__facebook">
              <img src="./assets/images/facebook_02.svg" alt="facebook">
            </a>
            <a href="#" class="l-header__instagram">
              <img src="./assets/images/instagram_02.svg" alt="instagram">
            </a>
          </div>
          <a href="#" class="l-header__home">
            <p class="l-header__title">HOME</p>
          </a>
          <div class="l-header__address">
            <p class="l-header__addressText">
              日光浴の宿 時今 <br>〒321-0000 <br>
              栃木県日光市松原町000-92
            </p>
            <a href="#" class="l-header__map">› GOOGLE MAP</a>
            <div class="l-header__border"></div>
          </div>
          <div class="l-header__company">
            <p class="l-header__inner">運営会社</p>
            <a href="#" class="l-header__info">Suscwable DESIGN office co.,ltd.</a>
            <div class="l-header__companyWrap">
              <a href="#" class="l-header__info">shikaku-chon DESIGN office</a>
              <a href="#" class="l-header__info">ここのくつ[coconokutsu] 呼吸するインテリアブランド</a>
              <a href="#" class="l-header__info">日光浴の宿 時今</a>
            </div>
          </div>
          <small class="l-header__copyright">©nikkooo jicon</small>
        </div>
      </div>
    </div>
  </div>
</div>
</header>
