.c-frame {
  margin: 0 auto;
  @include mq(u-sp) {
    // height: 100vh;
    letter-spacing: 2px;
    padding: 86px 0 10%;
    text-align: justify;
  }
  @include mq(o-sp) {
    letter-spacing: 4px;
    display: flex;
    flex-wrap: wrap;
    writing-mode: vertical-rl;
    text-align: start;
    padding: 180px 0 14%;
  }
}
