.c-index {
  color: #a2a2a2;
  position: relative;
  &__wrap {
    @include mq(u-sp) {
      position: absolute;
      top: 50px;
      left: 12%;
      font-size: 10px;
    }
    @include mq(o-sp) {
      position: absolute;
      top: 100px;
      left: 12%;
      font-size: 12px;
      letter-spacing: 3px;
    }
  }
  &__ {
  }
  &__ {
  }
}
