.l-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: $colorWhite;
  transition: 0.7s;
  z-index: 10;

  &.is-show {
    position: fixed;
    background-color: $colorWhite;
    color: $colorBlack;

    & .l-header__text {
      border: 1px solid $colorBlack;
      &:hover {
        color: $colorWhite;
        background-color: $colorBlack;
        transition: 0.8s;
      }
    }

    & .l-header__humburger span {
      background-color: $colorBlack;
    }

    & .l-header__logo {
      opacity: 1;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    position: relative;
    @include mq(u-sp) {
      height: 60px;
    }
    @include mq(o-sp) {
      height: 100px;
    }
  }
  &__reservation {
    @include mq(u-sp) {
      position: absolute;
      top: 50%;
      right: 16%;
    }
    @include mq(o-sp) {
      position: absolute;
      top: 50%;
      right: 12%;
      &:hover {
        color: $colorBlack;
        background-color: $colorWhite;
        transition: 0.8s;
      }
    }
  }
  &__text {
    border: 1px solid $colorWhite;
    letter-spacing: 2px;
    font-size: 10px;
    @include mq(u-sp) {
      padding: 2px 16px;
    }
    @include mq(o-sp) {
      padding: 6px 36px;
    }
  }
  &__humburger {
    @include mq(u-sp) {
      width: 34px;
      height: 34px;
      position: absolute;
      top: 58%;
      right: 4%;
    }
    @include mq(o-sp) {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 58%;
      right: 4%;
    }
  }
  &__logo {
    display: block;
    opacity: 0;
    transition: 0.7s;
    @include mq(u-sp) {
      width: 34px;
      position: absolute;
      top: 8%;
      left: 3.4%;
    }
    @include mq(o-sp) {
      width: 48px;
      position: absolute;
      top: 10%;
      left: 2%;
    }
  }
  &__humburger span {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: $colorWhite;
    transition: all 0.5s;
    z-index: 20;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    @include mq(o-sp) {
    }
  }
  &__humburger span:nth-of-type(1) {
    top: 0%;
  }
  &__humburger.active span:nth-of-type(1) {
    @include mq(u-sp) {
      transform: translateY(4px) rotate(-45deg);
    }
    @include mq(o-sp) {
      transform: translateY(8px) rotate(-45deg);
    }
  }
  &__humburger span:nth-of-type(2) {
    top: 30%;
  }
  &__humburger.active span:nth-of-type(2) {
    @include mq(u-sp) {
      transform: translateY(-6px) rotate(45deg);
    }
    @include mq(o-sp) {
      transform: translateY(-8px) rotate(45deg);
    }
  }
  &__ {
  }
  &__menu {
    height: 0;
    position: fixed;
    top: 0;
    transform: translateX(410%); //js
    transition: 0.5s; //js
    color: $colorBlack;
    &.is-open {
      //js
      transform: translateX(0%); //js
    } //js
  }
  &__container {
    background-color: $colorWhite;
    opacity: 0.9;
    height: 100vh;
    overflow: scroll;
    @include mq(u-sp) {
      max-width: 1280px;
      width: 100vw;
      // display: flex;
      // justify-content: space-between;
      position: relative;
      // z-index: 20;
      font-size: 12px;
    }
    @include mq(o-sp) {
      max-width: 1280px;
      width: 100vw;
      display: flex;
      justify-content: space-between;
      position: relative;
    }
  }
  &__menuLogo {
    @include mq(u-sp) {
      max-width: 120px;
      width: 30vw;
      display: block;
      margin: 50px auto 0;
      // position: absolute;
      // top: 4%;
      // left: 2%;
    }
    @include mq(o-sp) {
      max-width: 120px;
      width: 10vw;
      position: absolute;
      top: 4%;
      left: 2%;
    }
  }
  &__inner {
    display: flex;
    @include mq(u-sp) {
      padding-bottom: 6%;
    }
    @include mq(o-sp) {
      padding-bottom: 8%;
    }
  }
  &__contents {
    @include mq(u-sp) {
      max-width: 320px;
      width: 86vw;
      margin: 60px auto 0;
    }
    @include mq(o-sp) {
      position: relative;
      top: 4%;
      left: 70%;
      max-width: 320px;
      width: 24vw;
    }
  }
  &__list {
  }
  &__title {
    @include mq(u-sp) {
      // margin-top: 40px;
    }
    @include mq(o-sp) {
      font-size: 12px;
    }
  }
  &__subTitle {
    font-size: 10px;
    margin-left: 2%;
  }
  &__ {
  }
  &__menuReservation {
  }
  &__menuText {
    @include mq(o-sp) {
      font-size: 12px;
      text-align: center;
    }
  }
  &__menuWord {
    @include mq(o-sp) {
      font-size: 10px;
      margin-left: 2%;
    }
  }
  &__menuInner {
    @include mq(o-sp) {
      display: flex;
      width: 230px;
      border: 1px solid $colorBlack;
      padding: 16px 34px;
      &:hover {
        color: $colorWhite;
        background-color: $colorBlack;
        transition: 0.8s;
      }
    }
  }
  &__sns {
    display: flex;
    @include mq(u-sp) {
      margin-top: 16%;
    }
    @include mq(o-sp) {
      margin-top: 20%;
    }
  }
  &__facebook {
    @include mq(u-sp) {
      width: 20px;
      height: 20px;
    }
    @include mq(o-sp) {
      width: 20px;
      height: 20px;
      &:hover {
        opacity: 0.5;
        transition: 0.5s;
      }
    }
  }
  &__instagram {
    @include mq(u-sp) {
      width: 20px;
      height: 20px;
    }
    @include mq(o-sp) {
      width: 20px;
      height: 20px;
      &:hover {
        opacity: 0.5;
        transition: 0.5s;
      }
    }
  }
  &__home {
    display: block;
    @include mq(u-sp) {
      margin-top: 8%;
    }
    @include mq(o-sp) {
      margin: 18% 0 12%;
    }
  }
  &__address {
    @include mq(u-sp) {
      margin-top: 8%;
      line-height: 20px;
    }
    @include mq(o-sp) {
      font-size: 10px;
      line-height: 1.5;
    }
  }
  &__map {
    display: block;
    margin-bottom: 10%;
  }
  &__border {
    border-bottom: 1px solid $colorDarkGray;
  }
  &__company {
    font-size: 10px;
    @include mq(u-sp) {
      line-height: 20px;
      margin-top: 12%;
    }
    @include mq(o-sp) {
      line-height: 1.5;
      margin-top: 18%;
    }
  }
  &__copyright {
    display: block;
    margin-top: 10%;
    font-size: 10px;
    padding-bottom: 10%;
    @include mq(o-sp) {
    }
  }
  &__ {
  }
}
