.p-access {
  &__wrap {
    text-align: center;
    @include mq(u-sp) {
      max-width: 400px;
      width: 80vw;
      margin: 0 auto;
      padding-top: 70px;
      font-size: 12px;
      line-height: 25px;
    }
    @include mq(o-sp) {
      padding-top: 180px;
      line-height: 2.5;
      font-size: 14px;
    }
  }
  &__title {
    @include mq(u-sp) {
      font-size: 20px;
      margin: 10px 0 20px;
      line-height: 35px;
    }
    @include mq(o-sp) {
      font-size: 26px;
      letter-spacing: 7px;
    }
  }
  &__address {
    margin-top: 70px;
    letter-spacing: 4px;
  }
  &__text {
    &--car {
      @include mq(u-sp) {
        margin-top: 60px;
      }
      @include mq(o-sp) {
        margin-top: 100px;
      }
    }
    &--navi {
      @include mq(u-sp) {
        margin-top: 30px;
      }
      @include mq(o-sp) {
        margin-top: 60px;
      }
    }
  }
  &__select {
    margin-top: 20px;
  }

  &__ {
  }
}
