.p-food {
  padding: 90px 0 8%;
  &__wrap {
    @include mq(u-sp) {
      max-width: 400px;
      width: 80vw;
      margin: 0 auto;
    }
    @include mq(o-sp) {
      max-width: 880px;
      width: 69vw;
      overflow-x: scroll;
      white-space: nowrap;
    }
  }
  &__container {
    @include mq(u-sp) {
      font-size: 15px;
      text-align: center;
    }
    @include mq(o-sp) {
      font-size: 17px;
    }
  }
  &__title {
    @include mq(u-sp) {
      font-size: 20px;
      margin: 0 0 26px;
      line-height: 35px;
      text-align: center;
    }
    @include mq(o-sp) {
      font-size: 26px;
      margin: 0 26px;
      line-height: 45px;
    }
  }
  &__text {
    @include mq(u-sp) {
      font-size: 12px;
      line-height: 25px;
    }
    @include mq(o-sp) {
      font-size: 14px;
      line-height: 36px;
    }
  }
  &__dinnerWrap {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    @include mq(o-sp) {
      max-width: 876px;
      width: 69vw;
      height: 30vw;
      margin: 0 auto 8%;
      overflow-x: scroll;
      white-space: nowrap;
    }
    &--center {
      border-bottom: 1px solid $colorBlack;
    }
  }
  &__contents {
    letter-spacing: 4px;
    &--more {
      @include mq(o-sp) {
        writing-mode: vertical-rl;
        text-align: start;
      }
    }
    &--center {
      @include mq(o-sp) {
        writing-mode: vertical-rl;
        text-align: start;
        margin-bottom: 80px;
      }
    }
  }
  &__inner {
    @include mq(o-sp) {
      font-size: 12px;
      margin-left: 25px;
      border: 1px solid $colorBlack;
      height: 164px;
      padding: 1%;
      white-space: nowrap;
      max-height: 210px;
    }
  }
  &__dinnerTitle {
    @include mq(o-sp) {
      display: block;
      font-size: 26px;
      margin: 0 4% 0 6%;
      line-height: 45px;
    }
  }
  &__dinnerContainer {
    @include mq(o-sp) {
      display: block;
      font-size: 17px;
    }
  }
  &__dinnerText {
    @include mq(o-sp) {
      font-size: 14px;
      line-height: 2;
      margin-left: 8%;
    }
  }
  &__dinnerPicture {
    background-image: url('#{$bgPath}dinner_01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    @include mq(o-sp) {
      max-width: 300px;
      width: 14vw;
      height: 100px;
    }
  }
  &__creator {
  }
  &__sample {
    display: flex;
  }
  &__tell {
    @include mq(o-sp) {
      display: block;
      width: 18px;
      height: 200px;
      margin-left: 16%;
      line-height: 1;
      border-left: 1px solid $colorBlack;
      border-right: 1px solid $colorBlack;
    }
  }
  &__shop {
    @include mq(o-sp) {
      font-size: 12px;
      margin-left: 2%;
    }
  }
  &__ {
  }
}
