.p-info {
  &__ {
  }
  &__contents {
    @include mq(u-sp) {
      max-width: 400px;
      width: 80vw;
      margin: 0 auto;
      padding-top: 86px;
    }
    @include mq(o-sp) {
      padding-top: 180px;
    }
  }
  &__title {
    text-align: center;
    @include mq(u-sp) {
      font-size: 20px;
    }
    @include mq(o-sp) {
      font-size: 26px;
    }
  }
  &__wrap {
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mq(u-sp) {
      margin: 0 16.8%;
    }
    @include mq(o-sp) {
      margin: 0 10.8%;
    }
  }
  &__link {
    display: block;
    @include mq(u-sp) {
      max-width: 200px;
      width: 32vw;
      margin-top: 8px;
    }
    @include mq(o-sp) {
      max-width: 244px;
      width: 19.8vw;
      margin-top: 8px;
    }
  }

  &__container {
    border-bottom: 1px solid $colorBlack;
    position: relative;
    @include mq(u-sp) {
      display: block;
      margin: 40px auto 0;
      font-size: 12px;
    }
    @include mq(o-sp) {
      display: flex;
      margin: 70px auto 0;
      max-width: 760px;
      width: 60vw;
      font-size: 14px;
      cursor: pointer;
    }
  }
  &__spBox {
    display: flex;
    white-space: nowrap;
  }
  &__day {
    font-size: 10px;
  }

  &__snsWrap {
    text-align: center;
    @include mq(u-sp) {
      margin-top: 40px;
    }
    @include mq(o-sp) {
      margin-top: 100px;
    }
  }
  &__snsTitle {
    @include mq(u-sp) {
      font-size: 15px;
      letter-spacing: 2px;
    }
    @include mq(o-sp) {
      font-size: 20px;
      letter-spacing: 4px;
    }
  }
  &__snsText {
    font-size: 10px;
    margin: 20px 0 30px;
  }
  &__load {
    border: none;
    background-color: $colorBlack;
    color: $colorWhite;
    padding: 14px;
    border-radius: 5px;
    font-family: 'Noto Serif JP', 'serif';
    @include mq(u-sp) {
      max-width: 200px;
      width: 36vw;
      letter-spacing: 2px;
      margin: 6% 32% 0;
    }
    @include mq(o-sp) {
      max-width: 200px;
      width: 16vw;
      letter-spacing: 3px;
      margin: 2% 42% 0;
      &:hover {
        opacity: 0.7;
        transition: 0.5s;
      }
    }
  }
  &__follow {
    @include mq(u-sp) {
      font-size: 10px;
      letter-spacing: 2px;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      text-decoration: underline;
      white-space: nowrap;
    }
    @include mq(o-sp) {
      font-size: 12px;
      letter-spacing: 3px;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      text-decoration: underline;
      &:hover {
        opacity: 0.5;
        transition: 0.5s;
      }
    }
  }
  &__icon {
    display: flex;
    justify-content: center;

    margin-top: 10%;
    padding-bottom: 20%;
  }
  &__facebook {
    @include mq(u-sp) {
      width: 20px;
    }
    @include mq(o-sp) {
      width: 30px;
      &:hover {
        opacity: 0.5;
        transition: 0.5s;
      }
    }
  }
  &__instagram {
    @include mq(u-sp) {
      width: 20px;
    }
    @include mq(o-sp) {
      width: 30px;
      &:hover {
        opacity: 0.5;
        transition: 0.5s;
      }
    }
  }
  &__text {
    margin-left: 10%;
  }
  &__box {
    width: 20px;
    &::before {
      content: '';
      display: block;
      left: 3px;
      width: 10px;
      height: 10px;
      border-top: 2px solid $colorDarkGray;
      border-right: 2px solid $colorDarkGray;
      -webkit-transform: rotate(45deg);
      transform: rotate(136deg);
      position: absolute;
      top: 24%;
      left: 96%;
      // &.move {
      //   -webkit-transform: rotate(45deg);
      //   transform: rotate(359deg);
      // }
    }
  }
  &__innerText {
  }
  &__inner {
    font-size: 13px;
    margin: 0 auto;
    max-width: 760px;
    width: 60vw;
    color: $colorDarkGray;
    &.open {
      //js
      transform: translatey(0%); //js
      opacity: 1;
      display: block;
    } //js
  }
  &__innerWord {
    margin-top: 30px;
  }
  &__innerWrap {
    background-image: url('#{$bgPath}heya_01.jpg');
    width: 40vw;
    height: 24vw;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 30px;
  }
}
