.p-message {
  &__logo {
    display: block;
    max-width: 150px;
    width: 11vw;
    height: 100px;
    margin: 0 auto;
    padding-top: 100px;
  }
  &__wrap {
    margin-top: 300px;
  }
  &__text {
    letter-spacing: 4px;
    font-size: 14px;
    line-height: 2.5;
    text-align: center;
    &--more {
      margin-top: 100px;
    }
  }

  &__map {
    display: block;
    letter-spacing: 4px;
    font-size: 10px;
    line-height: 2;
    text-align: center;
    text-decoration: underline;
  }
  &__reservation {
    display: block;
    margin-top: 30px;
  }
  &__button {
    font-size: 12px;
    border: 1px solid $colorBlack;
    max-width: 260px;
    width: 20vw;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
    &:hover {
      color: $colorWhite;
      background-color: $colorBlack;
      transition: 0.8s;
    }
  }
  &__ {
  }
  &__icon {
    display: flex;
    justify-content: center;
    margin-top: 6%;
    padding-bottom: 10%;
  }
  &__facebook {
    width: 30px;
    &:hover {
      opacity: 0.5;
      transition: 0.5s;
    }
  }
  &__instagram {
    width: 30px;
    &:hover {
      opacity: 0.5;
      transition: 0.5s;
    }
  }
}
