.p-note {
  &__frame {
    flex-wrap: wrap;
    writing-mode: vertical-rl;
    text-align: start;
    @include mq(o-sp) {
      margin: 0 auto;
      padding: 90px 0;
      letter-spacing: 4px;
      border-top: 1px solid $colorBlack;
    }
  }

  &__wrap {
    max-width: 612px;
    width: 48vw;
    @include mq(o-sp) {
      overflow-x: scroll;
      white-space: nowrap;
    }
  }
  &__text {
    @include mq(o-sp) {
      font-size: 14px;
      line-height: 36px;
    }
  }
  &__floor {
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    @include mq(o-sp) {
      background-image: url('#{$bgPath}floor_01.png');
      max-width: 1000px;
      width: 100%;
      height: 450px;
      margin: 0 auto 6%;
    }
  }
  &__ {
  }
}
