.p-relax {
  &__wrap {
    max-width: 880px;
    width: 69vw;
    @include mq(o-sp) {
      overflow-x: scroll;
      white-space: nowrap;
    }
  }
  &__title {
    @include mq(o-sp) {
      font-size: 26px;
      margin: 0 26px;
      line-height: 45px;
    }
  }
  &__text {
    @include mq(o-sp) {
      font-size: 14px;
      line-height: 36px;
    }
  }
  &__wood {
    @include mq(o-sp) {
      max-height: 960px;
      height: 160vw;
    }
  }
  &__light {
    @include mq(o-sp) {
      max-height: 1060px;
      height: 160vw;
      position: relative;
    }
  }
  &__woodWrap {
    @include mq(o-sp) {
      display: flex;
      position: relative;
      margin: 60px auto;
    }
  }
  &__woodContainer {
    @include mq(o-sp) {
      display: flex;
      position: relative;
      margin: 60px auto;
    }
  }
  &__lightWrap {
    @include mq(o-sp) {
      display: flex;
      position: relative;
      margin: 60px auto;
    }
  }
  &__lightContainer {
    @include mq(o-sp) {
      display: flex;
      margin: 60px auto;
      position: relative;
    }
  }
  &__woodSentence {
    @include mq(o-sp) {
      display: flex;
      flex-wrap: wrap;
      writing-mode: vertical-rl;
      text-align: start;
      margin: 0 auto;
      letter-spacing: 4px;
      max-width: 400px;
      width: 32vw;
      // height: 44vw;
      overflow-x: scroll;
      white-space: nowrap;
      position: absolute;
      top: 500px;
      right: 14%;
    }
  }
  &__lightSentence {
    @include mq(o-sp) {
      display: flex;
      flex-wrap: wrap;
      writing-mode: vertical-rl;
      text-align: start;
      margin: 0 auto;
      letter-spacing: 4px;
      max-width: 400px;
      width: 32vw;
      // height: 44vw;
      overflow-x: scroll;
      white-space: nowrap;
      position: absolute;
      top: 10%;
      left: 8%;
    }
  }
  &__woodTitle {
    @include mq(o-sp) {
      display: block;
      font-size: 18px;
      margin-left: 25px;
      line-height: 36px;
    }
  }
  &__picture {
    background-size: contain;
    background-repeat: no-repeat;
    display: block;

    &--fis {
      background-image: url('#{$bgPath}hinoki_01.jpg');
      @include mq(o-sp) {
        max-width: 250px;
        width: 20vw;
        height: 14vw;
        position: absolute;
        top: 50px;
        left: 18%;
      }
    }
    &--sec {
      background-image: url('#{$bgPath}hinoki_02.jpg');
      @include mq(o-sp) {
        max-width: 420px;
        width: 30vw;
        height: 20vw;
        position: absolute;
        top: 160px;
        right: 16%;
      }
    }
    &--thir {
      background-image: url('#{$bgPath}hinoki_02.jpg');
      @include mq(o-sp) {
        max-width: 350px;
        width: 28vw;
        height: 20vw;
        position: absolute;
        top: 380px;
        left: 18%;
      }
    }
    &--for {
      background-image: url('#{$bgPath}hinoki_02.jpg');
      @include mq(o-sp) {
        max-width: 350px;
        width: 28vw;
        height: 20vw;
        position: absolute;
        top: 80px;
        right: 26%;
      }
    }
    &--fif {
      background-image: url('#{$bgPath}hinoki_02.jpg');
      @include mq(o-sp) {
        max-width: 350px;
        width: 28vw;
        height: 20vw;
        position: absolute;
        top: 360px;
        right: 8%;
      }
    }
  }
  &__lightPicture {
    background-image: url('#{$bgPath}hinoki_02.jpg');
    @include mq(o-sp) {
      max-width: 650px;
      width: 50vw;
      height: 400px;
      position: absolute;
      top: 600px;
      left: 8%;
    }
  }

  &__woodAttention {
    @include mq(o-sp) {
      font-size: 11px;
    }
  }
  &__woodText {
    @include mq(o-sp) {
      font-size: 14px;
      line-height: 36px;
    }
  }
  &__lightTitle {
    @include mq(o-sp) {
      display: block;
      font-size: 18px;
      margin-left: 25px;
      line-height: 36px;
    }
  }
  &__lightText {
    @include mq(o-sp) {
      font-size: 14px;
      line-height: 36px;
    }
  }
  &__lightAttention {
    @include mq(o-sp) {
      font-size: 11px;
    }
  }

  &__ {
  }
}
