.p-rule {
  &__wrap {
    @include mq(o-sp) {
      max-width: 668px;
      width: 54vw;
      overflow-x: scroll;
      white-space: nowrap;
    }
  }
  &__title {
    @include mq(o-sp) {
      font-size: 26px;
      margin: 0 26px;
      line-height: 45px;
    }
  }
  &__text {
    @include mq(o-sp) {
      font-size: 14px;
      line-height: 36px;
    }
  }
}
