.p-rule {
  &__wrap {
    max-width: 668px;
    width: 54vw;
    overflow-x: scroll;
    white-space: nowrap;
  }
  &__title {
    font-size: 26px;
    margin: 0 26px;
    line-height: 45px;
  }
  &__text {
    font-size: 14px;
    line-height: 36px;
  }
}
