.p-spot {
  &__wrap {
    @include mq(u-sp) {
      max-width: 400px;
      width: 80vw;
      margin: 0 auto;
      padding-top: 80px;
      text-align: center;
      line-height: 25px;
      font-size: 12px;
    }
    @include mq(o-sp) {
      padding-top: 180px;
      text-align: center;
      line-height: 2.5;
      font-size: 14px;
    }
  }
  &__title {
    @include mq(u-sp) {
      font-size: 20px;
    }
    @include mq(o-sp) {
      font-size: 26px;
      letter-spacing: 7px;
    }
  }
  &__text {
    @include mq(u-sp) {
      margin: 30px 0;
      letter-spacing: 2px;
    }
    @include mq(o-sp) {
      margin: 70px 0;
      letter-spacing: 4px;
    }
  }
  &__ {
  }
}
